$body-color: black;

body {
  color: $body-color;
  font-family: 'Helvetica';
}

#slider {
  width: 100%;
}

.datamaps-legend {
  margin-top: -40px;
}

.title {
  text-align: center;
}

.visContainer {
  width: 95%;
}
